name: Run and Report Robot Framework Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    outputs:
      conclusion: ${{ steps.set-conclusion.outputs.conclusion }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: docker build -t robot-playwright .

      - name: Run Robot Framework tests
        run: docker run --rm -e DOPPLER_TOKEN=${{ secrets.DOPPLER_TOKEN }} -v ${{ github.workspace }}:/tests robot-playwright

      - name: Upload Robot Framework report
        uses: actions/upload-artifact@v4
        with:
          name: robot-test-report
          path: results/

      - name: Set job conclusion
        id: set-conclusion
        run: echo "conclusion=${{ job.status }}" >> $GITHUB_OUTPUT

  send-email:
    needs: run-tests
    runs-on: ubuntu-latest
    steps:
      - name: Load secrets from Doppler
        uses: dopplerhq/cli-action@v2
        with:
          doppler-token: ${{ secrets.DOPPLER_TOKEN }}
          project: github-email
          config: dev

      - name: Set dynamic subject
        run: |
          if [ "${{ needs.run-tests.outputs.conclusion }}" = "success" ]; then
            echo "SUBJECT= Test Passed: GitHub Actions Report" >> $GITHUB_ENV
          else
            echo "SUBJECT= Test Failed: GitHub Actions Report" >> $GITHUB_ENV
          fi

      - name: Download test report artifact
        uses: actions/download-artifact@v4
        with:
          name: robot-test-report
          path: reports

      - name: Send email with report
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.office365.com
          server_port: 587
          secure: starttls
          username: ${{ env.MAIL_USERNAME }}
          password: ${{ env.MAIL_PASSWORD }}
          from: rakeshkaader@outlook.com
          to: rakeshkp668@gmail.com
          subject: ${{ env.SUBJECT }}
          body: |
            Hello,

            The latest test run has ${{ needs.run-tests.outputs.conclusion }}.
            Please find the attached reports files.

            Regards  
            GitHub Actions
          attachments: |
            reports/log.html
            reports/report.html
            reports/output.xml
